In [18]:
# http://pandas.pydata.org/pandas-docs/stable/10min.html
# 10 Minutes to pandas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Object Creation

# Creating a Series 
s = pd.Series([1,3,5,np.nan,6,8])
print s

# Creating a DataFrame 
df = pd.DataFrame(np.random.randn(6,4))
print df

# Creating a DataFrame 
dates = pd.date_range('20130101', periods=6)
print dates
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print df

# Creating a DataFrame 
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo'})
print df2
print df2.dtypes

          0         1         2         3
0 -0.046218 -0.677690  1.135689  1.458826
1 -1.224052 -2.041536  0.555840  0.312520
2  0.545891  0.600603 -1.886585 -1.008612
3  0.502461  0.318426 -0.234763  0.002133
4  1.065868 -0.242478 -1.352965  1.241279
5  1.378239  1.134261 -0.053488 -0.001827
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01 -1.034413  0.126352  0.324959  1.123856
2013-01-02  1.276539 -0.112687  0.555770  1.024946
2013-01-03  0.810289  0.992803 -2.100683  0.186527
2013-01-04 -0.358859 -0.715238  2.106966  0.612007
2013-01-05  1.431282  0.516486 -0.371610  0.023063
2013-01-06 -0.143407 -1.199188 -0.331064  0.729527

In [8]:
# Viewing Data

print df
print df.head() b# See the top rows of the frame
print df.tail(3) # See the bottom rows of the frame

print df.index
print df.columns
print df.values

print df.describe() # Describe shows a quick statistic summary of your data

print df.T # Transposing your data

print df.sort_index(axis=1, ascending=False) # Sorting by an axis
print df.sort_values(by='B')                 # Sorting by values

                   A         B         C         D
2013-01-01 -1.034413  0.126352  0.324959  1.123856
2013-01-02  1.276539 -0.112687  0.555770  1.024946
2013-01-03  0.810289  0.992803 -2.100683  0.186527
2013-01-04 -0.358859 -0.715238  2.106966  0.612007
2013-01-05  1.431282  0.516486 -0.371610  0.023063
2013-01-06 -0.143407 -1.199188 -0.331064  0.729527
                   A         B         C         D
2013-01-01 -1.034413  0.126352  0.324959  1.123856
2013-01-02  1.276539 -0.112687  0.555770  1.024946
2013-01-03  0.810289  0.992803 -2.100683  0.186527
2013-01-04 -0.358859 -0.715238  2.106966  0.612007
2013-01-05  1.431282  0.516486 -0.371610  0.023063
                   A         B         C         D
2013-01-04 -0.358859 -0.715238  2.106966  0.612007
2013-01-05  1.431282  0.516486 -0.371610  0.023063
2013-01-06 -0.143407 -1.199188 -0.331064  0.729527

In [61]:
# Selection by Label

print df
print df.loc[dates[0]]
print df.loc[:,['A','B']]
print df.loc['20130102':'20130104',['A','B']]
print df.loc['20130102',['A','B']]
print df.loc[dates[0],'A']

                   A         B         C         D
2013-01-01 -1.289598  0.377631  0.197155  0.020276
2013-01-02  0.943616  0.393789  0.140182 -0.877186
2013-01-03  0.241525 -0.524710 -1.116984  0.064964
2013-01-04 -0.578713 -1.920264  1.123327 -0.424080
2013-01-05 -0.493910  1.745392  0.201937 -0.326539
2013-01-06  1.430664 -2.054650 -2.158841  1.826033
A   -1.289598
B    0.377631
C    0.197155
D    0.020276
Name: 2013-01-01 00:00:00, dtype: float64

In [17]:
# Selection by Position

print df
print df.iloc[1,1]
print df.iloc[3:5,0:2]
print df.iloc[3,:]
print df.iloc[1:3,:]
print df.iloc[:,1:3]
print df.iloc[[1,2,4],[0,2]]

                   A         B         C         D
2013-01-01 -1.034413  0.126352  0.324959  1.123856
2013-01-02  1.276539 -0.112687  0.555770  1.024946
2013-01-03  0.810289  0.992803 -2.100683  0.186527
2013-01-04 -0.358859 -0.715238  2.106966  0.612007
2013-01-05  1.431282  0.516486 -0.371610  0.023063
2013-01-06 -0.143407 -1.199188 -0.331064  0.729527
-0.112686997391
                   A         B
2013-01-04 -0.358859 -0.715238
2013-01-05  1.431282  0.516486
A   -0.358859
B   -0.715238
C    2.106966
D    0.612007
Name: 2013-01-04 00:00:00, dtype: float64
                   A         B         C         D
2013-01-02  1.276539 -0.112687  0.555770  1.024946
2013-01-03  0.810289  0.992803 -2.100683  0.186527
                   B         C
2013-01-01  0.126352  0.324959
2013-01-02 -0.112687  0.555770
2013-01-03  0.992803 -2.100683
2013-01-04 -0.715238  2.106966
2013-01-05  0.516486 -0.371610
2013-01-06 -1.199188 -0.331064
                   A         C
2013-01-02  1.276539  0.555770
2013-01-03  0.810289 -2.100683
2013-01-05  1.431282 -0.371610

In [74]:
# Selection by Boolean Indexing

print df
print df[df > 0]
print df[df.A > 0]

df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
print df2
print df2[df2['E'].isin(['two','four'])]

                   A         B         C         D
2013-01-01 -1.289598  0.377631  0.197155  0.020276
2013-01-02  0.943616  0.393789  0.140182 -0.877186
2013-01-03  0.241525 -0.524710 -1.116984  0.064964
2013-01-04 -0.578713 -1.920264  1.123327 -0.424080
2013-01-05 -0.493910  1.745392  0.201937 -0.326539
2013-01-06  1.430664 -2.054650 -2.158841  1.826033
                   A         B         C         D
2013-01-02  0.943616  0.393789  0.140182 -0.877186
2013-01-03  0.241525 -0.524710 -1.116984  0.064964
2013-01-06  1.430664 -2.054650 -2.158841  1.826033

In [24]:
# Setting
# Setting a new column automatically aligns the data by the indexes

s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
print s1
print df
df['F'] = s1
print df

df.loc[dates[0],'A'] = 0
print df

df.iloc[0,1] = 0
print df

df.loc[:,'D'] = np.array([5] * len(df))
print df

df2 = df.copy()
df2[df2 > 0] = -df2
print df2

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64
                   A         B         C         D
2013-01-01  0.000000  0.000000  0.324959  1.123856
2013-01-02  1.276539 -0.112687  0.555770  1.024946
2013-01-03  0.810289  0.992803 -2.100683  0.186527
2013-01-04 -0.358859 -0.715238  2.106966  0.612007
2013-01-05  1.431282  0.516486 -0.371610  0.023063
2013-01-06 -0.143407 -1.199188 -0.331064  0.729527
                   A         B         C         D    F
2013-01-01  0.000000  0.000000  0.324959  1.123856  NaN
2013-01-02  1.276539 -0.112687  0.555770  1.024946  1.0
2013-01-03  0.810289  0.992803 -2.100683  0.186527  2.0
2013-01-04 -0.358859 -0.715238  2.106966  0.612007  3.0
2013-01-05  1.431282  0.516486 -0.371610  0.023063  4.0
2013-01-06 -0.143407 -1.199188 -0.331064  0.729527  5.0
                   A         B         C         D    F
2013-01-01  0.000000  0.000000  0.324959  1.123856  NaN
2013-01-02  1.276539 -0.112687  0.555770  1.024946  1.0
2013-01-03  0.810289  0.992803 -2.100683  0.186527  2.0
2013-01-04 -0.358859 -0.715238  2.106966  0.612007  3.0
2013-01-05  1.431282  0.516486 -0.371610  0.023063  4.0
2013-01-06 -0.143407 -1.199188 -0.331064  0.729527  5.0
                   A         B         C         D    F
2013-01-01  0.000000  0.000000  0.324959  1.123856  NaN
2013-01-02  1.276539 -0.112687  0.555770  1.024946  1.0
2013-01-03  0.810289  0.992803 -2.100683  0.186527  2.0
2013-01-04 -0.358859 -0.715238  2.106966  0.612007  3.0
2013-01-05  1.431282  0.516486 -0.371610  0.023063  4.0
2013-01-06 -0.143407 -1.199188 -0.331064  0.729527  5.0

In [82]:
# Missing Data
# Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
print df
print df1

print df1.dropna(how='any') # To drop any rows that have missing data.

print df1.fillna(value=5) # Filling missing data

print pd.isnull(df1) # To get the boolean mask where values are nan

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.197155  5  NaN
2013-01-02  0.943616  0.393789  0.140182  5  1.0
2013-01-03  0.241525 -0.524710 -1.116984  5  2.0
2013-01-04 -0.578713 -1.920264  1.123327  5  3.0
2013-01-05 -0.493910  1.745392  0.201937  5  4.0
2013-01-06  1.430664 -2.054650 -2.158841  5  5.0
                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.197155  5  NaN  1.0
2013-01-02  0.943616  0.393789  0.140182  5  1.0  1.0
2013-01-03  0.241525 -0.524710 -1.116984  5  2.0  NaN
2013-01-04 -0.578713 -1.920264  1.123327  5  3.0  NaN

In [25]:
# Stats

print df
print df.mean(0)
print df.mean(1)

# Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension.
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
print s
print df
print df.sub(s, axis='index')

                   A         B         C         D    F
2013-01-01  0.000000  0.000000  0.324959  1.123856  NaN
2013-01-02  1.276539 -0.112687  0.555770  1.024946  1.0
2013-01-03  0.810289  0.992803 -2.100683  0.186527  2.0
2013-01-04 -0.358859 -0.715238  2.106966  0.612007  3.0
2013-01-05  1.431282  0.516486 -0.371610  0.023063  4.0
2013-01-06 -0.143407 -1.199188 -0.331064  0.729527  5.0
A    0.502641
B   -0.086304
C    0.030723
D    0.616654
F    3.000000
dtype: float64
A    0.502641
B   -0.086304
C    0.030723
D    0.616654
F    3.000000
dtype: float64
2013-01-01    0.362204
2013-01-02    0.748914
2013-01-03    0.377787
2013-01-04    0.928975
2013-01-05    1.119844
2013-01-06    0.811173
Freq: D, dtype: float64

In [ ]:
# Apply
# Applying functions to the data

print df
print df.apply(np.cumsum)
print df.apply(np.cumsum)
print df.apply(lambda x: x.max() - x.min())

In [90]:
# Histogramming

s = pd.Series(np.random.randint(0, 7, size=10))
print s
print s.value_counts()

0    5
1    4
2    5
3    1
4    0
5    0
6    3
7    0
8    2
9    1
dtype: int64
0    3
5    2
1    2
4    1
3    1
2    1
dtype: int64

In [91]:
# String Methods
# Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses regular expressions by default (and in some cases always uses them). See more at Vectorized String Methods.

s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [92]:
# Concat
# Concatenating pandas objects together with concat():

df = pd.DataFrame(np.random.randn(10, 4))
print df

pieces = [df[:3], df[3:7], df[7:]] # break it into pieces
print pd.concat(pieces)

          0         1         2         3
0  0.047759  0.012816  0.414211 -0.380364
1  0.355528  1.608671  0.849445 -0.201365
2  0.280926  1.043653 -0.488866 -0.691700
3 -1.947004 -0.864954 -0.628845 -1.505010
4  1.233923  0.229560  0.387249 -0.242228
5  0.606016  0.309647 -0.380382 -0.222547
6  0.277163  0.648113 -0.712027 -0.508485
7 -0.297490 -0.537927  0.704860 -0.478160
8  0.339648  1.676360  0.675067 -0.543924
9 -0.053398  0.724723  1.616027 -0.678729
          0         1         2         3
0  0.047759  0.012816  0.414211 -0.380364
1  0.355528  1.608671  0.849445 -0.201365
2  0.280926  1.043653 -0.488866 -0.691700
3 -1.947004 -0.864954 -0.628845 -1.505010
4  1.233923  0.229560  0.387249 -0.242228
5  0.606016  0.309647 -0.380382 -0.222547
6  0.277163  0.648113 -0.712027 -0.508485
7 -0.297490 -0.537927  0.704860 -0.478160
8  0.339648  1.676360  0.675067 -0.543924
9 -0.053398  0.724723  1.616027 -0.678729

In [93]:
# Join
# SQL style merges. See the Database style joining

left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
print left
print right
print pd.merge(left, right, on='key')

left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
print left
print right
print pd.merge(left, right, on='key')

   key  lval
0  foo     1
1  foo     2
   key  rval
0  foo     4
1  foo     5
   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [ ]:
# Append
# Append rows to a dataframe. See the Appending

df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
print df
s = df.iloc[3]
print df.append(s, ignore_index=True)

In [ ]:
# Grouping
# Grouping and then applying a function sum to the resulting groups.

df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print df
print df.groupby('A').sum()
print df.groupby(['A','B']).sum()

In [ ]:
# Stack

tuples = list(zip(*[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df2 = df[:4]
print df
print df2

stacked = df2.stack()
print stacked

print stacked
print stacked.unstack()
print tacked.unstack(1)
print stacked.unstack(0)

In [ ]:
# Pivot Tables

df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
print df
print pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

In [ ]:
# Time Series

# pandas has simple, powerful, and efficient functionality for performing resampling operations during frequency conversion (e.g., converting secondly data into 5-minutely data). This is extremely common in, but not limited to, financial applications. See the Time Series section
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('5Min').sum()

# Time zone representation
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts_utc = ts.tz_localize('UTC')
print ts
print ts_utc

# Convert to another time zone
print ts_utc.tz_convert('US/Eastern')

# Converting between time span representations
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
print ts
ps = ts.to_period()
print ps
print ps.to_timestamp()

# Converting between period and timestamp enables some convenient arithmetic functions to be used. In the following example, we convert a quarterly frequency with year ending in November to 9am of the end of the month following the quarter end:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
print ts.head()

In [ ]:
# Categoricals

# Convert the raw grades to a categorical data type.
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
df["grade"] = df["raw_grade"].astype("category")
print df["grade"]

# Rename the categories to more meaningful names (assigning to Series.cat.categories is inplace!)
print df["grade"].cat.categories = ["very good", "good", "very bad"]

# Reorder the categories and simultaneously add the missing categories (methods under Series .cat return a new Series per default).
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
print df["grade"]

# Sorting is per order in the categories, not lexical order.
print df.sort_values(by="grade")

# Grouping by a categorical column shows also empty categories.
print df.groupby("grade").size()

In [ ]:
# Plotting

ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
ts.plot()

# On DataFrame, plot() is a convenience to plot all of the columns with labels:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index, columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')

In [ ]:
# Getting Data In/Out

# CSV 
df.to_csv('foo.csv')   # Writing to a csv file
pd.read_csv('foo.csv') # Reading from a csv file

# HDF5
df.to_hdf('foo.h5','df')   # Writing to a HDF5 Store
pd.read_hdf('foo.h5','df') # Reading from a HDF5 Store

# Excel
df.to_excel('foo.xlsx', sheet_name='Sheet1')                          # Writing to an excel file
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA']) # Reading from an excel file